* {
    margin: 0;
    padding: 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hikari {
    width: 56px;
    height: 56px;
    background-image: url("/img/hikari.png");
    background-size: contain;
}

.title {
    text-align: center;
    margin-left: 12px;
}

.mainSubject {
    font-size: 24px;
    font-weight: bold;
}

.rubySubject {
    font-size: 16px;
    font-family: "Kalam", cursive;
}

nav {
    width: 0;
    color: #FFFFFF;
    background-color: #555555;
    visibility: hidden;
    overflow-y: scroll;
    /* IE, Edge 対応 */
    -ms-overflow-style: none;
    /* Firefox 対応 */
    scrollbar-width: none;
    z-index: 10;
}

nav::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
}

nav ul {
    list-style: none;
}

main {
    width: 100vw;
    height: calc(100vh - 96px);
    position: fixed;
    overflow-y: scroll;
    top: 80px;
    left: 0;
}

img {
    width: 100%;
}

article {
    width: 100%;
    height: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    width: 96%;
    margin: 0 auto 1ex auto;
}

section h2 {
    padding: 1ex 0;
}

section h3 {
    padding: 0.5ex 0;
}

section ul {
    margin-left: 5ex;
}

.indent {
    width: 96%;
    margin: 0 auto;
}

.tile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.tile .tileImg {
    position: relative;
    width: 25%;
}

.tile .tileImg:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.tile .tileImg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
}

.circle {
    width: 100%;
    border-radius: 50%;
}

.date {
    display: inline-block;
    width: 12ex;
}

.div1-2s {
    width: 46%;
}

.div1-3s {
    width: 30%;
}

.div2-3s {
    width: 60%;
}

.youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    height: 0;
    visibility: hidden;
}

footer {
    position: fixed;
    width: 100vw;
    height: 16px;
    top: calc(100vh - 16px);
    left: 0;
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width:768px) {
    .div1-2 {
        width: 46%;
    }
    .div1-3 {
        width: 30%;
    }
    .div2-3 {
        width: 60%;
    }
}

@media screen and (min-width:1024px) {
    nav {
        width: 250px;
        height: calc(100vh - 80px);
        position: fixed;
        top: 80px;
        left: calc(100vw - 250px);
        visibility: visible;
    }
    #menuBtn {
        display: none;
    }
    main {
        width: calc(100vw - 250px);
    }
    article {
        max-width: 1024px;
    }
}